# Updated 3.11.2017
#######################################################################################
#####                        General configurations                               #####
#######################################################################################

# Configuration folders (must exist as a subdirectory of "configurations"; the value
# tells the number of seconds for the next scan of the directory for changes. A
# value of -1 deactivates the scan).
# A comma separated list can follow after the refresh value. This list defines a filter
# for valid file extensions for the models.
folder:items=10,items
folder:sitemaps=10,sitemap
folder:rules=10,rules
folder:scripts=10,script
folder:persistence=10,persist

folder:transform=10,*
mainconfig:refresh=10

# configures the security options. The following values are valid:
# ON = security is switched on generally
# OFF = security is switched off generally
# EXTERNAL = security is switched on for external requests
#            (e.g. originating from the Internet) only
# (optional, defaults to 'OFF')

security:option=EXTERNAL
security:netmask=192.168.1.0/24


#######################################################################################
#####                       Transport configurations                              #####
#######################################################################################

################################# MQTT Transport ######################################
#
# Define your MQTT broker connections here for use in the MQTT Binding or MQTT
# Persistence bundles. Replace <broker> with a id you choose.
#

# URL to the MQTT broker, e.g. tcp://localhost:1883 or ssl://localhost:8883
mqtt:mosquitto.url=tcp://localhost:1883
mqtt:mosquitto.user=emonpi
mqtt:mosquitto.pwd=emonpimqtt2016
mqtt:mosquitto.qos=2
mqtt:mosquitto.retain=false


#######################################################################################
#####                        Binding configurations                               #####
#######################################################################################

################################# TCP - UDP Binding ################################### 
# 
# all parameters can be applied to both the TCP and UDP binding unless  
# specified otherwise 
 
# Interval between reconnection attempts when recovering from a communication error,
# in seconds
tcp:retryinterval=5

# Share connections within the Item binding configurations 
#tcp:itemsharedconnections=true

# Share connections between Item binding configurations 
#tcp:bindingsharedconnections=true

# Share connections between inbound and outbound connections 
#tcp:directionssharedconnections=true

# Allow masks in ip:port addressing, e.g. 192.168.0.1:* etc 
tcp:addressmask=true

# Perform all write/read (send/receive) operations in a blocking mode,
# e.g. the binding will wait for a reply from the remote end after data has been sent
tcp:blocking=true

# Update the status of Items using the response received from the remote end
# (if the remote end sends replies to commands)
tcp:updatewithresponse=true

# timeout, in milliseconds, to wait for a reply when initiating
# a blocking write/read operation
tcp:timeout=500

# Timeout - or 'refresh interval', in milliseconds, of the worker thread
tcp:refreshinterval=250

# Used character set
tcp:charset=ASCII

# Post-amble that will be appended to data being sent
#tcp:postamble=\r\n
tcp:postamble=\n